/* Transitions Basics */
/* 4 Transition properties */
/* Transition Shorthand */

/*  1- transition-duration
    2- transition-property
    3- transition-timing-function
    4- transition-delay
    5- CSS Animation Performance
*/

.box {
	background: #9b59b6;
	height: 200px;
	width: 200px;
	line-height:200px;
	text-align: center;
	color: white;
	font-size: 20px;
}  
  
/* Transition Shorthand */
.animated{
    transition: transform 1s ease-out .5s, background-color 0.5s linear;
}
  
.box:hover {
    transform: translateX(300px);
    transition: transform 2s ease-out 1s, background-color 0.5s linear;
    background: #e74c3c;
}
  
  
  
  